.mustRead {
  margin-top: 40px;
  margin-bottom: 40px;
  h3 {
    font-weight: bold;
  }

  .mustReadCards {
    .card-block {
      font-size: 1em;
      margin: 0;
      border: none;
      box-shadow: none;
    }
    .card {
      position: relative;
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      margin-top: 20px;
      border-radius: 0;
      background-color: inherit;
      .tagName {
        font-size: 10px;
        background-color: #ff3300;
        color: #fff;
        padding: 3px 7px;
        margin-right: 10px;
        margin-bottom: 5px;
        cursor: default;
        border: none;
      }
      img {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
      .readMore {
        position: absolute;
        bottom: 0;
        a {
          font-size: 10px;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
        }
      }
      p {
        font-size: 12px;
        padding: 0;
        // margin-bottom: 0;
      }
    }

    .btn {
      margin-top: auto;
    }
  }
}
