.titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  @media only screen and (max-width: 600px) {
    margin-top: 60px;
    height: 30vh;
  }

  h2 {
    font-weight: bold;
    line-height: 2.2rem;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    @media only screen and (max-width: 600px) {
      margin-bottom: 60px;
    }
  }
}

.posterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  @media only screen and (max-width: 600px) {
    height: 30vh;
  }
  overflow: hidden;
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.scrollDown {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }

  .scroll {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 2px solid #333;
      border-bottom: 2px solid #333;
      transform: rotate(-45deg);
    }
  }

  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }

  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  p {
    max-width: 45vw;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    @media only screen and (max-width: 600px) {
        max-width: 90vw;
        font-weight: 400;
      }
  }
}
