.topRow {
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  margin: 10px 0;

  .topHeading {
    @media (max-width: 600px) {
      align-items: center;
      text-align: center;
    }
    h1 {
      font-size: 29px;
      font-weight: bold;
      @media (min-width: 600px) {
        margin-top: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
      @media (max-width: 600px) {
        position: inherit;
      }
      cursor: pointer;
    }
  }

  .loginButton {
    position: absolute;
    right: 0;
    margin: 15px 0;
    @media (max-width: 600px) {
      margin-top: 30px;
      position: inherit;
      text-align: center;
    }

    button {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      font-size: 13px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }
  }

  .Navbar {
    margin: 20px 0px;
    font-size: 15px;

    li {
      font-weight: 500;
      margin: 0 20px;
    }
    nav {
      // @media (max-width: 600px) {
      //   margin-top: 0;
      //   padding: 0;
      // }
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
