.userBlogs {
  .pageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

  .row {
    justify-content: center;
    align-items: center;
  }

  .card-big-shadow {
    max-width: 320px;
    position: relative;
  }

  .coloured-cards .card {
    margin-top: 30px;
  }

  .card[data-radius="none"] {
    border-radius: 0px;
  }
  .card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #ffffff;
    color: #252422;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;

    .editLogo {
      text-align: right;
      margin-top: 5px;
      margin-right: 15px;
      font-size: 25px;

      button {
        text-decoration: none;
        border: none;
        background-color: inherit;
        transition: all ease 0.3s;
        padding: 2px 5px;
        margin-left: 10px;
        &:hover {
          background-color: var(--black);
          box-shadow: 0 0 0.825em grey;
          color: white;
        }
      }
      .editLogoBtn {
        font-size: 25px;
        color: black;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    }
  }

  .card[data-background="image"] .title,
  .card[data-background="image"] .stats,
  .card[data-background="image"] .category,
  .card[data-background="image"] .description,
  .card[data-background="image"] .content,
  .card[data-background="image"] .card-footer,
  .card[data-background="image"] small,
  .card[data-background="image"] .content a,
  .card[data-background="color"] .title,
  .card[data-background="color"] .stats,
  .card[data-background="color"] .category,
  .card[data-background="color"] .description,
  .card[data-background="color"] .content,
  .card[data-background="color"] .card-footer,
  .card[data-background="color"] small,
  .card[data-background="color"] .content a {
    color: #ffffff;
  }
  .card.card-just-text .content {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    text-align: center;
  }
  .card .content {
    margin-top: 20px;
    padding: 20px 10px 10px 20px;
  }
  .card[data-color="blue"] .category {
    color: #7a9e9fb6;
  }

  .card .category,
  .card .label {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .card-big-shadow:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  h4,
  .h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1em;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  h4:hover {
    color: #465050;
  }
  h6,
  .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .card .description {
    font-size: 14px;
    color: #66615b;
  }
  .content-card {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  /*======== COLORS ===========*/
  .card[data-color="blue"] {
    background: #b8d8d8;
  }
  .card[data-color="blue"] .description {
    color: #506568;
  }
}
